<div class="file-viewer">
  <div class="mb-4">
      <a
          class="flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card"
          [routerLink]="['./details/', file.id]">
          <div class="aspect-[9/6]">
              <div class="flex items-center justify-center h-full">
                  <div class="relative">
                      <mat-icon
                          class="icon-size-14 text-hint opacity-50"
                          [svgIcon]="'heroicons_solid:document'"></mat-icon>
                      <div
                          class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white class.bg-red-600">
                          {{'PDF'}}
                      </div>
                  </div>
              </div>
          </div>
          <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
              <div
                  class="truncate"
                  [matTooltip]="file.file_name">{{file.file_name}}</div>
              <ng-container *ngIf="file.file_title">
                  <div class="text-secondary truncate">{{file.file_title}}</div>
              </ng-container>
          </div>
      </a>
    <button mat-raised-button color="primary" (click)="downloadFile()">Yuklab olish</button>
  </div>

  <!-- PDF ko‘rsatish -->
   <div class="mt-4 w-full">
    <!-- PDF, DOC, PPT, XLS ko‘rish -->
    <!-- *ngIf="['pdf','doc','docx','xls','xlsx','ppt','pptx','txt'].includes(fileExtension)" -->
    <ngx-doc-viewer
      [url]="fileUrl"
      viewer="google"
      style="width:100%;height:600px;">
    </ngx-doc-viewer>

    {{fileUrl}}

    <!-- Noma'lum format -->
    <div *ngIf="!['pdf','doc','docx','xls','xlsx','ppt','pptx','txt','jpg','jpeg','png','gif','webp','mp4','webm','mp3','wav','ogg','zip','rar'].includes(fileExtension)">
      <p>Bu fayl turi ko‘rsatib bo‘lmaydi. Faqat yuklab olish mumkin.</p>
    </div>
  </div>
</div>
